APP_NAME=WG Simple Control
API_PREFIX=/v1
WG_ALLOWED_IPS=0.0.0.0/0, ::/0
WG_DNS=1.1.1.1,8.8.8.8
WG_PERSISTENT_KEEPALIVE=25
WG_DEFAULT_PORT=51820
ADDRESS_POOL_CIDR=10.10.1.0/22
WG_BASE_CONF_PATH=awg0.base.conf
WG_CONF_PATH=awg0.conf
PEERS_STORE_PATH=peers.json
SERVERS_STORE_PATH=servers.json